{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f6f9;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .chat-container {
        width: 60%;
        max-width: 800px;
        min-width: 300px;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    #chat-log {
        flex: 1;
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 15px;
        font-size: 16px;
        line-height: 1.5;
        resize: none;
        overflow-y: auto;
        outline: none;

    }

    .chat-input-container {
        display: flex;
        align-items: center;
        padding: 10px;
        background: #f9f9f9;
    }

    #chat-message-input {
        flex: 1;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        outline: none;
        margin-right: 10px;
    }

    #chat-message-submit {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    #chat-message-submit:hover {
        background-color: #0056b3;
    }
</style>
{% endblock style %}


{% block body %}
<div class="chat-container">
    <textarea id="chat-log" cols="100" rows="20" readonly>
    </textarea>
    <div class="chat-input-container">
        <input id="chat-message-input" type="text" placeholder="Type your message...">
        <input id="chat-message-submit" type="button" value="Send">
    </div>
</div>
{{ room_name|json_script:"room-name" }}

<script src="{% static "reconnecting-websocket.js" %}"></script>
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    var username = {{ user_name }} ;

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );
    chatSocket.onopen = function(e) {
        chatSocket.send(JSON.stringify({
            'command':'fetch_message'
        }));
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
      
        for(let i=data['message'].length-1;i>=0;i--){
            document.querySelector('#chat-log').value += (data['message'][i]['__str__'] +": "+data['message'][i]['text'] + '\n');
        }

    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'command':'new_message'
            ,'username':username
        }));
        messageInputDom.value = '';
    };
</script>

{% endblock body %}




